*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mena Grotesk;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: ;
    width: 100%;
  }

.nav li a {
    text-decoration: none;
    color: black;
}

.nav li{
    list-style: none;
    display: inline;
    justify-content: space-between;
    margin-left: 30px;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 30px;
}

.logo{
    font-size: 20px;
    padding: 10px;
    margin-left: 35px;
}

.logo span{
    color: #0094FF;
}

.blue-button button{
    border: thin;
    border-radius: 50px;
    margin-right: 100px;
    width: 110px;
    background-color: #0094FF;
    color: rgb(238, 232, 232);
    padding: 20px;
    font-size: small;
    text-align: center;
}

.nav button{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 90px;
}

.first-page {
    background: linear-gradient(to top right, #317EB6, #BAE2FF);
    min-height: 98.5vh;
    position: relative;
}

.intro{
    text-align: center;
    margin-bottom: 10px;
}

.section-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    margin-left: 100px;
    flex-wrap: wrap
}

#get-started{
    margin-left: 340px;
    font-size: small;
    width: 110px;
    padding: 10px;
}

.intro h1 {
    font-weight: 150px;
    font-size: 70px;
    margin-bottom: 10px;
}

.intro p{
    font-size: 20px;
}

.tag-1 {
    font-size: medium;
    margin-left: -600px;
    margin-top: 40px;
    width: 280px;
    height: 120px;
    padding: 15px;
    border: thin;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0094FF;
    color: #FFFFFF;
}

.tag-1 h2{
    margin-bottom: 25px;
    text-align: center;
}

.tag-1 p{
    text-align: center;
    font-size: 20px;
}

.tag-2 {
    font-size: medium;
    position: relative;
    margin-left: -380px;
    margin-top: -146px;
    width: 240px;
    height: max-content;
    padding: 30px 15px 30px 15px;
    border: thin;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0094FF;
    color: #FFFFFF;
}

.tag-2 h3 {
    margin-bottom: 10px;
    font-size: 30px;
}

.image{
    margin-top: -175px;
    margin-left: -230px;
}

.image img {
    height: 370px;
    width: 400px;
    margin-left: 10px;
}

.tag-3 {
    margin-left: 290px;
    margin-right: 100px;
    margin-top: -290px;
    width: 250px;
    height: max-content;
    padding: 20px;
    border: thin;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0094FF;
    color: #FFFFFF;
}

.tag-3 img{
    height: 30px;
}

.tag-3 h3 {
    margin-bottom: 10px;
    font-size: 30px;
}

.second-page {
    background-color: #BAE2FF;
    color: #000000;
}

.info {
    text-align: center;
    padding-top: 40px;
}

.info h3 {
    font-weight: bold;
    font-size: 50px;
    width: 639;
}

.info p{
    font-size: 20px;
}

.section-info-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: -20px;
}

.section-info-2 img {
    height: 500px;
    margin-left: 70px;
    padding: 20px 20px 0 20px;
    width: 500px;
    margin-top: -25px;
}

.tag-5 {
    margin-right: 200px;
    padding-bottom: 0;
}

.tag-6 {
    border: thin;
    border-radius: 5px;
    background: #7dc0f0;
    padding: 33px;
    width: 650px;
    margin-bottom: 10px;
    text-align: left;
}

.tag-6 h3 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.tag-6 p{
    font-size: 20px;
    margin-left: 30px;
    width: 550px;
}

.tag-7 {
    border: thin;
    border-radius: 5px;
    background: #7dc0f0;
    padding: 33px;
    width: 650px;
    margin-bottom: 10px;
    text-align: left;
}

.tag-7 h3 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.tag-7 p{
    font-size: 20px;
    margin-left: 30px;
    width: 550px;
}


.tag-8 {
    border: thin;
    border-radius: 5px;
    background: #7dc0f0;
    padding: 33px;
    width: 650px;
    margin-bottom: 10px;
    text-align: left;
}

.tag-8 h3 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 30px;
}

.tag-8 p{
    font-size: 20px;
    margin-left: 30px;
    width: 550px;
}

.third-page {
    background-color: #BAE2FF;
    padding: 20px;
}

.third-page .info h3{
    margin-bottom: 10px;
}

.third-page .info p{
    margin-bottom: 10px;
}

.section-info-3 {
     display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px;
    padding: 10px;
    margin-left: 80px;
}

.section-info-3 img {
    width: 70%;
    height: 276;
}

.section-info-3 h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.section-info-3 p{
    color: #000000;
    margin-bottom: 15px;
}


.fourth-page .info h3{
    margin-top: 20px;
    margin-bottom: 15px;
}

.fourth-page .info p{
    margin-bottom: 20px;
}

.section-info-4{
    display: grid;
    grid-template-columns: 10px 10px 10px;
    column-gap: 20rem;
    margin-top: 30px;
    align-items: center;
    margin-left: 200px;
    margin-bottom: 20px;
}

.tag-9 img, .tag-10 img, .tag-11 img{
    height: 400px;
    width: 300px;
}

.testimonial h3{
    text-align: center;
    font-size: 36px;
    color: 000000;
    margin-bottom: 15px;
}



.fourth-page{
    background-color: #BAE2FF;
    padding: 20px;
}

.footer .info {
    margin-bottom: 10px;
    font-size: 70px;
}

.footer p{
    font-size: 27px;
    margin-top: 10px;
}

.footer button{
    margin-left: 400px;
    width: 194px;
    height: 58px;
    color: #FFFFFF;
    padding: 5px;
    font-size: 20px;
    font-weight: lighter;
}

.footer-1 img{
    width: 100%;
    height: 740px;
}

.footer-2 {
    display: grid;
    grid-template-columns: 50rem auto auto auto;
    gap: 5rem;
}

